p#a {
  background-color: ffff00;
  margin-top:100px;
  margin-bottom:100px;
  margin-righ px;
  margin-left:50px;
}

p#b {
  border-style= solid;
  border-color: #f00;
  padding: 10px;
  margin: 20px;
}

p#c {
  padding-left: 2cm;
}

p#d {
  padding-left: 50%;
}


